# R and RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Vscoe
.DS_Store

src/data/outputs/tvp-bvec/rolling_scale_1-2_100_100/model_results_rolling_scale_1-2_100_100.rds
src/data/outputs/tvp-bvec/rolling_scale_1-2-3_100_100/model_results_rolling_scale_1-2-3_100_100.rds
